<a href="https://colab.research.google.com/github/mbroda2000/Python_projekt/blob/michal/woman_dev_regresiontask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
data = pd.read_csv('drive/MyDrive/Data_ML.csv')

In [3]:
import pandas as pd

new_data = data.copy()
new_data = new_data.drop('Unnamed: 0', axis=1)
new_data =new_data.drop('HaveWorkedWith', axis=1) # droping unnessesery datas

# Transformation of 'age'(1-age>35, 0-age<=35)
new_data['Age'] = (data['Age'] == '>35')

# Transformation of 'Accessibility' (1-Yes, 0-No)
new_data['Accessibility'] = (data['Accessibility'] == 'Yes')

# Transformation of 'EdLevel'
ed_level_mapping = {'Master': 1, 'Undergraduate': 2, 'PhD': 3, "NoHigherEd":0,  'Other': 4}
new_data['EdLevel'] = data['EdLevel'].map(ed_level_mapping)

# Transformation of 'Employment' (1-employed, 0-not employed)
new_data['Employment'] = (data['Employment'] == 1)

# Transformation of 'Gender'
gender_mapping = {'Man': 1, 'Woman': 2, 'Nonbinary': 0}
new_data['Gender'] = data['Gender'].map(gender_mapping)

# Transformation of'MentalHealth' (1-Yes, 0-No)
new_data['MentalHealth'] = (data['MentalHealth'] == 'Yes')

# Transformation of 'MainBranch'(1-Dev, 0-NotDev)
new_data['MainBranch'] = (data['MainBranch'] == 'Dev')




# Transformation of 'Employed'(1-Employed, 0-Not Employed)
new_data['Employed'] = data['Employed']

print(new_data)

         Age  Accessibility  EdLevel  Employment  Gender  MentalHealth  \
0      False          False        1        True     1.0         False
1      False          False        2        True     1.0         False
2      False          False        1        True     1.0         False
3      False          False        2        True     1.0         False
4       True          False        3       False     1.0         False
...      ...            ...      ...         ...     ...           ...
73457  False          False        2        True     1.0         False
73458   True          False        2        True     1.0         False
73459  False          False        2        True     1.0         False
73460  False           True        2        True     1.0          True
73461  False          False        1        True     NaN         False

       MainBranch  YearsCode  YearsCodePro  \
0            True          7             4
1            True         12             5
2            True         15             6
3            True          9             6
4           False         40            30
...           ...        ...           ...
73457        True          7             2
73458        True         21            16
73459        True          4             3
73460        True          5             1
73461        True         10             3

                                                 Country  PreviousSalary  \
0                                                 Sweden         51552.0
1                                                  Spain         46482.0
2                                                Germany         77290.0
3                                                 Canada         46135.0
4                                              Singapore        160932.0
...                                                  ...             ...
73457                                            Germany         41058.0
73458                           United States of America        115000.0
73459                                            Nigeria         57720.0
73460                           United States of America         70000.0
73461  United Kingdom of Great Britain and Northern I...         75384.0

       ComputerSkills  Employed
0                   4         0
1                  12         1
2                   7         0
3                  13         0
4                   2         0
...               ...       ...
73457              13         1
73458              11         1
73459              12         1
73460              15         1
73461               2         0

[73462 rows x 13 columns]

In [4]:
import numpy as np


new_data = new_data[new_data['Gender'] != 0]

filtred_data = new_data.drop(['Age', 'Accessibility', 'Employment', 'MentalHealth', 'Employed'], axis=1)

countries = [
    'Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 'Finland', 'France',
    'Germany', 'Hong Kong', 'Iceland', 'Ireland', 'Israel', 'Japan', 'Liechtenstein',
    'Luxembourg', 'Malta', 'Netherlands', 'New Zealand', 'Norway', 'Singapore',
    'Slovenia', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'United Arab Emirates',
    'United Kingdom of Great Britain and Northern Ireland', 'United States of America', 'Italy', 'Czech Republic', 'Slovakia',
    'Greece', 'Taiwan', 'Hong Kong', 'Croatia', 'Cyprus', 'Latvia', 'Lithuania', 'Estonia'
]

In [5]:
filtred_data['developed'] = filtred_data['Country'].isin(countries)

filtred_data = filtred_data.drop('Country', axis=1)
data_woman=filtred_data[filtred_data['Gender'] == 2]

data_dev_woman=data_woman[data_woman['developed']== True]
data_ndev_woman=data_woman[data_woman['developed']== False]

Linear regresor for Women_dev

We can see the linear regresion is very very bad

In [6]:
PreviousSalary =data_dev_woman['PreviousSalary']

x_train, x_val, x_test = np.split(data_dev_woman.sample(frac=1, random_state = 20), [int(.6*len(data_dev_woman)),int(.8*len(data_dev_woman))])
y_train, y_val, y_test = np.split(PreviousSalary.sample(frac=1, random_state = 20),[int(.6*len(PreviousSalary)),int(.8*len(PreviousSalary))])

In [10]:

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np


import pandas as pd


reg = LinearRegression()
reg.fit(x_train, y_train)


y_pred_train = reg.predict(x_train)
y_pred_val = reg.predict(x_val)

# RMSE for Training Set: 0.6435674112932498             RMSE for Validation Set: 0.6263352470201122

rmse_train = np.sqrt(np.mean((y_pred_train - y_train)**2))
rmse_val = np.sqrt(np.mean((y_pred_val - y_val)**2))


print(f"RMSE for Training: {rmse_train}")
print(f"RMSE for Validation : {rmse_val}")

RMSE for Training: 2.6078099599430364e-11
RMSE for Validation : 2.5555814790579374e-11

Linear regresor for Women_ndev

We can see the linear regresion is also bad and its worst than ndev

In [11]:
PreviousSalary =data_ndev_woman['PreviousSalary']

x_train, x_val, x_test = np.split(data_ndev_woman.sample(frac=1, random_state = 20), [int(.6*len(data_ndev_woman)),int(.8*len(data_ndev_woman))])
y_train, y_val, y_test = np.split(PreviousSalary.sample(frac=1, random_state = 20),[int(.6*len(PreviousSalary)),int(.8*len(PreviousSalary))])

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np


import pandas as pd


reg = LinearRegression()
reg.fit(x_train, y_train)


y_pred_train = reg.predict(x_train)
y_pred_val = reg.predict(x_val)

# RMSE for Training Set: 0.6435674112932498             RMSE for Validation Set: 0.6263352470201122

rmse_train = np.sqrt(np.mean((y_pred_train - y_train)**2))
rmse_val = np.sqrt(np.mean((y_pred_val - y_val)**2))


print(f"RMSE for Training: {rmse_train}")
print(f"RMSE for Validation : {rmse_val}")

RMSE for Training: 9.190149437889767e-12
RMSE for Validation : 8.63846224602844e-12

Neural network regresor for Women_dev

In [ ]:
PreviousSalary =data_dev_woman['PreviousSalary']

x_train, x_val, x_test = np.split(data_dev_woman.sample(frac=1, random_state = 20), [int(.6*len(data_dev_woman)),int(.8*len(data_dev_woman))])
y_train, y_val, y_test = np.split(PreviousSalary.sample(frac=1, random_state = 20),[int(.6*len(PreviousSalary)),int(.8*len(PreviousSalary))])